// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tasklist__cell {
  display : flex;
  list-style-type: none;
  padding: 10px 5px;
  border-bottom: 1px dashed #eaeaea;
  &:hover {
    background-color: #f2f2f2;
  }
}
.tasklist__cell--done {
  background-color: #f2f2f2;
}
.task__title--done {
  text-decoration: line-through;
}
.task__checkbox {
  width: 30px;
}
.task__content{
  width: 100%;
  overflow: hidden;
  margin-right: 10px;
}
.task__title {
  margin-right: 5px;
}


.task__subinfo {
  display: flex;
  margin-right: auto;
}

.task-form {
  width: 100%;
}
.task-form-group {
  display: flex;
}

.task-form-group__input {
  border: 1px solid #eee;
  border-radius: 0;
}
.task-form-title {
  flex: 2;
}
